:root{
  --dark: darkblue;
  --light: rgb(176, 176, 176);
}
body {
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  margin: 5%;
  padding: 1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 650;
  /* color: var(--dark); */
  line-height: 1.5;
  font-size: 16px;
}


.nav-content {
  display: flex;
  position: relative;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  display: flex;
  padding: 15px;
  font-size: larger;
  font-weight: 500;
}

header h1{
  font-size: 3em;
  font-weight: 800;

}
header{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(156, 168, 180, 0.4);
  border-radius: 10%;
  min-width: 700px;
  width: auto;
}

h1:hover::after{
  content: url(../images/IMG_0137.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  display:block;
}

.about-container{
  display: flex;
  justify-content: space-around;
  position: relative;
}
p{
  display: flex;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 5%;
  text-align: justify;
}

#about-me{
  display: flex;
  align-items: center;
  padding: 3%;
  font-size: xx-large;
  border-right: solid var(--dark) ;
  min-width: 210px;
}
#works{
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: 2%;
  font-size: xx-large;
  border-right: solid var(--dark) ;
  min-width: 210px;
}

.work-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  flex-direction: row;
}

.work-item-container-1{
display: flex;
flex-wrap: wrap;
}

.work-item-container-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 70vw;
  justify-content: flex-start;
  }

.project-1{
  display: flex;
  max-height: 70%;
  width: 100%;
  padding: 0 0 1em 0;
  position: relative;
  object-fit: cover;
}

.work-item{
  display: flex;
  max-width: 345px;
  max-height: 215px;
  padding: 20px;
}
.mini-2 {
  height: 195px;
}
.bottom-left-label{
  position: absolute;
  background-color: aliceblue;
  border-style: none;
  opacity: 0.8;
  width: auto;
  border: 1px double #ede9fe;
  padding: 20px;
  margin-top: 400px;
  margin-left: 2%;
}

.sub-type{
  
  font-size: 10px;
}

.project-1-img {
  margin-left: 2%;
}

.work-item img{
display: flex;
justify-content: flex-end;
margin: 5px;
width: auto;
height: 270px;
border: 5px;
padding: 10px;

}
.work-item-details {
  width: auto;
  background-color: rgba(156, 168, 180, 0.4);
  font-size: xx-small;
  padding: 1em;
  margin-top: -85px;
  margin-left: 20px;
  position: absolute;
  height: 65px;
}

.contact-links{
  display: flex;
  list-style-type: none;
}
.contact-links li{
  padding: 35px;
}
.text-right{
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: 2%;
  font-size: xx-large;
  border-right: solid var(--dark) ;
  min-width: 210px;
  
}
#contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone{
  position: relative;
}
.e-mail{
  position: relative;
}
.github{
  position: relative;
}
.linkedin{
  position: relative;
}
.linkedin:hover::before {
  content: "Site in Progress";
  display: block;
  left: 0px;
  text-decoration: none;
  position: absolute;
  bottom: 70%;
  color: var(--dark);
  width: 113px;
  background-color: var(--light);
  opacity: .5;
  padding: 5%;
  border: 2px solid var(--dark);
}
.phone:hover::before {
  content: "###.###.####";
  display: block;
  left: 0px;
  text-decoration: none;
  position: absolute;
  bottom: 70%;
  color: var(--dark);
  width: 110px;
  background-color: var(--light);
  opacity: .5;
  padding: 5%;
  border: 2px solid var(--dark);
}
.e-mail:hover::before {
  content: "Click to send me an E-Mail";
  display: block;
  text-align: center;
  left: 0px;
  text-decoration: none;
  position: absolute;
  bottom: 70%;
  color: var(--dark);
  width: 100px;
  background-color: var(--light);
  opacity: .5;
  padding: 5%;
  border: 2px solid var(--dark);
}
.github:hover::before {
  content: "Checkout my other works";
  display: block;
  text-align: center;
  left: 0px;
  text-decoration: none;
  position: absolute;
  bottom: 70%;
  color: var(--dark);
  width: 100px;
  background-color: var(--light);
  opacity: .5;
  padding: 5%;
  border: 2px solid var(--light);
}

a:link{
  color: #000;
  text-decoration: none;
}
a:visited{
  color: #000;
}

ul a::after{
  content: ' ';
  width: 0%;
  display: block;
  height: 3px;
  background: whitesmoke;
  position: relative;
  right: 0%;
  transition: all .4s linear;
}
ul a:hover::after{
  background: var(--dark);
  width: 110%;
}
footer{
  display: flex;
  justify-content: flex-end;
}
.right{
  text-align: right;
}

@media screen and (min-width: 7680px){
  .work-item-container-1{
    flex-wrap: wrap;
  }
  .work-item-container-2{
    flex-wrap: nowrap;
  }
  #about-me{
    border-right: none
  }
  #works{
    border-right: none
  }

};

